<!DOCTYPE html>

<html>

<head>
  <title>fCC Backend and API Projects</title>
  <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
    type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <h1>Backend and API Projects</h1>
  <hr />

  <main>
    <p>
      My little attempts at doing the <a
        href="https://www.freecodecamp.org/learn/back-end-development-and-apis/#back-end-development-and-apis-projects">freeCodeCamp
        Back End challenges</a>.
    </p>
    <div class="container">

      <section>
        <h2>1. Timestamp Microservice</h2>
        <p>An API endpoint that uses the URL parameter to return UNIX and UTC formats of the datetime query, in JSON.
        </p>
        <p><a href="/timestamp">Documentation</a></p>
      </section>

      <section>
        <h2>2. Request Header Parser Microservice</h2>
        <p>Parses header information in the request about the client, returns information in JSON.</p>
        <p><a href="/parser">Documentation</a></p>
      </section>
    </div>

    <div class="footer">
      <p>
        ✌
      </p>
    </div>
  </main>
</body>

</html>